# Django
*.pyc
__pycache__/
db.sqlite3
*.log

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Media files (если есть)
media/

# Статические файлы (если собираются)
staticfiles/